#btn-dark-mode {
  border: none;
  background-color: #f4f9f9;
  border-radius: 100px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  position: absolute;
  top: 50px;
  right: 30px;
}
#btn-dark-mode svg {
  position: relative;
  z-index: 2;
}
#btn-dark-mode.enable {
  background-color: #292b2b;
}
#btn-dark-mode.enable #light-mode line,
#btn-dark-mode.enable #light-mode circle {
  stroke: #04add9;
}
#btn-dark-mode.enable:after {
  content: "";
  position: absolute;
  z-index: 0;
  background-color: #f4f9f9;
  transform: translateX(52px);
}
@media screen and (max-width: 500px) {
  #btn-dark-mode.enable:after {
    transform: translateX(47px);
  }
}
#btn-dark-mode:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 0;
  transform: translateX(3px);
  top: 3px;
  width: 35px;
  height: 35px;
  background-color: #04add9;
  border-radius: 100px;
  pointer-events: none;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
@media screen and (max-width: 500px) {
  #btn-dark-mode:after {
    transform: translateX(8px);
  }
}

body {
  background-color: #f4f9f9;
}

body.dark-mode {
  background-color: #292b2b;
}
body.dark-mode h2 {
  color: #04add9;
  font-weight: 900;
}
body.dark-mode h3 {
  font-weight: 900;
}
body.dark-mode p {
  color: #f4f9f9;
  line-height: 1.8;
}
body.dark-mode a {
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  border: 2px solid #f4f9f9;
  background-color: #f4f9f9;
  border-radius: 100px;
  padding: 20px 50px;
  color: #292b2b;
  margin: 0 30px;
  box-shadow: inset 0 0 0 #04add9;
  display: inline-block;
}
body.dark-mode a:hover {
  box-shadow: inset 9em 0 0 #04add9;
  color: #292b2b;
}
body.dark-mode header {
  width: 100%;
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}
body.dark-mode header #Caminho_1 {
  fill: #f4f9f9;
}
body.dark-mode header text {
  fill: #f4f9f9;
}
body.dark-mode .banner-home h1 {
  color: #292b2b;
}
body.dark-mode .card {
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 1em;
  background-color: #292b2b;
}
body.dark-mode .card h3 {
  font-size: 18px;
  font-weight: 900;
  color: #f4f9f9;
}
body.dark-mode .card:hover {
  background-color: #f4f9f9;
}
body.dark-mode .card:hover * {
  color: #04add9;
}
body.dark-mode .bg-blue {
  background-color: #04add9;
}
body.dark-mode .bg-blue * {
  color: #f4f9f9;
}
body.dark-mode .bg-invert {
  background-color: #f4f9f9;
}
body.dark-mode .bg-invert * {
  color: #04add9;
}
body.dark-mode .bg-invert .card {
  background-color: #292b2b;
}
body.dark-mode .bg-invert .card * {
  color: #f4f9f9;
}
body.dark-mode .bg-invert .card:hover {
  background-color: #f4f9f9;
}
body.dark-mode .bg-invert .card:hover * {
  color: #04add9;
}
body.dark-mode footer ul {
  list-style-type: none;
  display: flex;
}
body.dark-mode footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.dark-mode footer ul li a {
  padding: 10px;
  display: block;
  background-color: transparent;
  border: none;
  box-shadow: none;
  fill: #04add9;
}
body.dark-mode footer ul li a path {
  fill: #04add9;
}
body.dark-mode footer ul li a:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

* {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

h2 {
  color: #0439d9;
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

p {
  color: #292b2b;
  line-height: 1.8;
}

a {
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  border: 2px solid #292b2b;
  background-color: #292b2b;
  border-radius: 100px;
  padding: 20px 50px;
  color: #f4f9f9;
  margin: 0 30px;
  box-shadow: inset 0 0 0 #0439d9;
  display: inline-block;
}
a:hover {
  box-shadow: inset 9em 0 0 #0439d9;
  color: #f4f9f9;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 50;
}
@media screen and (max-width: 500px) {
  header svg {
    width: 100px;
  }
}

.banner-home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner-home h1 {
  font-weight: 900;
  color: #f4f9f9;
  font-size: 5rem;
}
@media screen and (max-width: 500px) {
  .banner-home h1 {
    font-size: 3rem;
  }
}
.banner-home video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 101%;
  min-height: 100%;
  z-index: -1;
}

.card {
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  padding: 1em;
}
.card h3 {
  font-size: 18px;
  font-weight: 900;
  color: #0439d9;
}
.card:hover {
  background-color: #292b2b;
}
.card:hover * {
  color: #f4f9f9;
}

.bg-blue {
  background-color: #0439d9;
}
.bg-blue * {
  color: #f4f9f9;
}

.bg-invert {
  background-color: #292b2b;
}
.bg-invert * {
  color: #f4f9f9;
}
.bg-invert .card {
  background-color: #292b2b;
}
.bg-invert .card * {
  color: #f4f9f9;
}
.bg-invert .card:hover {
  background-color: #f4f9f9;
}
.bg-invert .card:hover * {
  color: #292b2b;
}

#clientes p {
  font-size: 22px;
}

#depoimentos h2 {
  font-size: 4rem;
  font-weight: 900;
}
@media screen and (max-width: 500px) {
  #depoimentos h2 {
    font-size: 2rem;
  }
}
#depoimentos .scroll-depoimentos img:nth-child(odd) {
  margin-left: 48%;
}

.round-20 {
  border-radius: 20px;
}

footer svg {
  height: 25px;
}
footer ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
@media screen and (max-width: 500px) {
  footer ul {
    justify-content: space-around;
  }
}
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li a {
  padding: 10px;
  display: block;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
footer ul li a:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 500px) {
  footer ul li a {
    padding: 0 !important;
    margin: 0 !important;
  }
}/*# sourceMappingURL=styles.css.map */